framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 0
            failed: 'doctrine://default?queue_name=failed'

        routing:
            # Les messages ProcessPictureMessage seront traités de manière asynchrone
            'App\Message\ProcessPictureMessage': async
