<nav class="bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <div class="text-2xl font-bold text-gray-900">
                <a href="{{ path('app_front_home') }}">Hollywood Paris</a>
            </div>
            <div class="hidden md:flex space-x-8">
                <a href="{{ path('app_front_home') }}" class="text-gray-600 hover:text-gray-900 transition">Accueil</a>
                <a href="{{ path('app_front_gallery_index') }}" class="text-gray-600 hover:text-gray-900 transition">Galleries</a>
                <a href="#" class="text-gray-600 hover:text-gray-900 transition">Services</a>
                <a href="#" class="text-gray-600 hover:text-gray-900 transition">Contact</a>
            </div>

            <a href="{{ path('app_login') }}" class="bg-gray-900 hover:bg-gray-800 text-white px-4 py-2 rounded-lg transition">
                {% if app.user %}Adminstration{% else %}Connexion{% endif %}
            </a>
        </div>
    </div>
</nav>
